body{ font-size:14px;}
input, textarea{ -webkit-appearance:none; }
/*lesson_jobs*/
.lj-box{ padding:3px 5px; border:1px dashed #ccc; font-size:14px;}
.lj-title{ background:#D5F3FA; padding:5px 5px;}
.btn-lj{ width:80px; border:1px solid #ddd;}
.mbsc-ios .dwv{display:none;}
.mbsc-ios .dwl{ font-size:16px; padding-left:8px;}
/*bt_index*/
.title{ font-size:18px; text-align:center; background:#f5f5f5; border-bottom:1px solid #ccc; height:40px; line-height:40px; width:100%; position:relative;}
.menu{ margin-top:100px;}
.menu-item{ display:block; width:70%; margin-left:auto; margin-right:auto; height:32px; line-height:32px; background:#447ad8; font-size:16px; color:#fff; text-align:center; border-radius:3px;}
.menu-item:visited{ color:#fff;}
.menu-item:hover{ text-decoration:none;}
.menu-item:active{ color:#fff;}
.nav{ position:fixed; left:0px; bottom:0px;width:100%; font-size:14px;}
.nav-item{ height:40px; line-height:40px; width:33.1%; text-align:center; border-right:1px solid #ddd; border-top:1px solid #ddd; background:#fff; float:left;}
.nav-item:visited{ color:#333; }
.nav-item:hover{ text-decoration:none; color:#333;}
.nav-item:active{ color:#333; }
.nav-active{ background:#447ad8; color:#fff; border-top:1px solid #447ad8; border-right:1px solid #447ad8;}
.nav-active:visited{ color:#fff; }
.nav-active:hover{ text-decoration:none; color:#fff;}
.nav-active:active{ color:#fff; }
.nav-last{ border-right:none;}
.goback{ font-size:14px; position:absolute; left:10px; top:6px; color:#fff; padding:7px 20px; line-height:100%;
background:url("../../img/bt_back.png") no-repeat center center; text-indent:-9999px;
background-size:20px;
}
.isHome{ left:auto; right:10px; background:url("../../img/home.png") no-repeat center center; background-size:20px;}
.goback:visited{ color:#fff;}
.goback:hover{ color:#fff; text-decoration:none;}
.goback:active{ color:#fff;}
.l-notice{ padding:10px; border:1px solid #ccc; background:#f5f5f5; border-radius:2px;}

/* bt_homework*/
.homework{ font-size:16px; padding:0px 10px; margin-bottom:60px;}
.homework-item{ margin-top:13px;}
.input-text{ height:30px; border:1px solid #ccc; padding-left:5px; background:#fff; font-size:16px; border-radius:3px;}
.w50{ width:50px;}
.wh90{ width:90%;}
.wh98{ width:98%;}
.wh75{ width:75%;}
.wh40{ width:40%;}
.reduceBtn{ border:1px solid #ccc; font-size:24px; padding:0px 12px; display:inline-block; height:30px; line-height:30px; border-radius:2px; vertical-align:middle;}
.reduceBtnGray{ background:#f5f5f5;}
.addBtn{ border:1px solid #ccc; font-size:22px; padding:0px 10px; display:inline-block; height:30px; line-height:30px; border-radius:2px; vertical-align:middle;}

.btn{ display:inline-block; text-align:center; height:28px; line-height:28px; border-radius:3px; color:#333; font-size:14px; background:#fff;}
.btn-default{ width:120px; border:1px solid #ddd;}
.btn-flow{ width:23%; border:1px solid #ddd;}
.btn-tflow{ width:22%; border:1px solid #ddd;}
.btn-flowActive{ border:1px solid #D4FAFA; background:#D4FAFA;}
.btn-primary{ width:120px; border:1px solid #447ad8; background:#447ad8; color:#fff;}
.uploadShell{ margin:40px auto 0px; text-align:center;}
.afterSubmit{ text-align:center; position:fixed; left:50%; top:50%; width:80%; height:50px; margin:-40px 0px 0px -40%;z-index:10}
.lessonNotice{ font-size:16px; padding:10px 8px 0px;}
.questionLink{ color:#447ad8; text-decoration:underline;}
.addPlus{ font-size:24px; color:#447ad8; padding:5px 10px; vertical-align:bottom;}
.todoItem{ }
.todoItem-inner{ padding:10px 5px; background:#f5f5f5;}
.editPlan{ width:100px; position:absolute; right:10px; top:0px;}
.editPlan:visited{ color:#fff;}
.editPlan:hover{ color:#fff; text-decoration:none;}
.editPlan:active{ color:#fff;}
.ass-notice{ padding:10px;}
/* bt_compare*/
.btn-c{ width:80px; border:1px solid #ccc;}
.compare{ padding:20px 5px 0px;}
.compare-item{ margin-bottom:10px;}
.compare-item-t{ height:35px; line-height:35px; background:#447ad8; color:#fff; padding-left:10px; font-size:16px;}
.compare-table{ width:100%;}
.compare-table tr:nth-child(odd){ background:#f5f5f5;}
.compare-table td{ padding:5px 0px; text-align:center;}
.showMore{ float:right; margin-right:10px; background:#fff; border:1px solid #ccc; padding:0px 8px; height:24px; line-height:24px; position:relative; top:5px;}
/*ass_edit*/
.add-step{ width:90px; margin-top:10px;}
/*lesson*/
.l-box-t{ height:35px; line-height:35px; background:#D5F3FA; padding:0px 5px;}
.enterLesson{ color:#447ad8; position:absolute; right:10px; bottom:10px;}
.enterShell{ color:#447ad8;}
.enterShell:visited{ color:#447ad8; }
.enterShell:hover{ text-decoration:none; color:#447ad8; text-decoration:none;}
.enterShell:active{ color:#447ad8; text-decoration:none; }

/*bt_question*/
.question{ padding:20px 5px;}
.question-item-t{ height:30px; line-height:30px; background:#D5F3FA; padding:0px 5px;}
.question-item-c{ margin:5px 0px;}
.newQuestion{ position:fixed; left:50%; bottom:20px; width:50px; height:50px; border:2px solid #447ad8; background:#fff; border-radius:27px; margin-left:-27px; background:url("../../img/plus.png") #fff no-repeat center center; background-size:16px;}
.newQuestion:visited{ color:#447ad8; }
.newQuestion:hover{ text-decoration:none; color:#447ad8; }
.newQuestion:active{ color:#447ad8; }
.replyBox{ font-size:16px; background:#f5f5f5; margin:8px 0px 10px; padding:5px 8px;}
/*bt_newQuestion*/
.questionTextShell{ margin:20px 0px 0px; text-align:center;}
.question-text{ width:94%; font-size:16px; border:1px solid #ccc;padding:5px;}
.question-submit{ font-size:16px; background:#447ad8; color:#fff; padding:8px 20px; line-height:100%; border-radius:3px;}

/*bt_task*/
.task{ padding:20px 5px 0px; margin-bottom:50px;}
.task-table{ width:100%;}
.task-table td{ border:1px solid #ccc; text-align:center; padding:5px;}

/*bt_homeworkHistory*/
.content{ padding:20px 5px 0px;}
.history-item-t{ height:35px; line-height:35px; background:#D5F3FA; padding:0px 5px;}
.showDetails{ line-height:100%; padding:5px 8px; background:#447ad8; border-radius:3px; color:#fff;}
.showDetails:visited{ color:#fff; }
.showDetails:hover{ text-decoration:none; color:#fff;}
.showDetails:active{ color:#fff; }
.history-item{ margin-bottom:10px;}
/*=============jquery.yitip的样式=============*/
.layer_tips{}
.layer_tips .title{margin-top: 10px;}
.layer_tips .title i{vertical-align: -3px;margin-right: 4px;}
.layer_tips .btn_cont1{padding: 10px 0 5px;}
.layer_tips .btn_cont1 a{margin:0 4px;}
.yitip{
    position:absolute;
    background-color:#fff;
    border-radius:4px;
    display:none;
    z-index:10001;
}
.yitip .yitip-content{
    padding:6px 12px;
    font-size:12px;white-space:nowrap;text-align:center;text-shadow:0 0 1px #fff;color:#5b5316;
    box-shadow: 0 2px 5px rgba(190,190,190,0.75)
}
.yitip .yitip-trigon,.yitip .yitip-trigon-border{
    position:absolute;
    border:6px solid;
    width:0px;height:0px;
    overflow:hidden;
}
.yitip .yitip-trigon-border{border-width:7px !important;}
/* =========不同位置下的三角方向 =========*/
/*-------上中-------*/
.topMiddle .yitip-trigon,.topMiddle .yitip-trigon-border{
    border-style:solid dashed dashed dashed;
    border-bottom-color:transparent !important;border-left-color:transparent !important;border-right-color:transparent !important;
    bottom:-12px;
    left:50%;margin-left:-6px;
}
.topMiddle .yitip-trigon-border{
    bottom:-14px;margin-left:-7px;
}
/*-------下中-------*/
.bottomMiddle .yitip-trigon,.bottomMiddle .yitip-trigon-border{
    border-style:dashed dashed solid dashed;
    border-top-color:transparent !important;border-left-color:transparent !important;border-right-color:transparent !important;
    top:-12px;
    left:50%;margin-left:-6px;
}
.bottomMiddle .yitip-trigon-border{
    top:-14px;margin-left:-7px;
}
/*-------左中-------*/
.leftMiddle .yitip-trigon,.leftMiddle .yitip-trigon-border{
    border-style:dashed dashed dashed solid;
    border-top-color:transparent !important;border-right-color:transparent !important;border-bottom-color:transparent !important;
    top:50%;margin-top:-6px;
    right:-12px;
}
.leftMiddle .yitip-trigon-border{
    right:-14px;margin-top:-7px;
}
/*-------右中-------*/
.rightMiddle .yitip-trigon,.rightMiddle .yitip-trigon-border{
    border-style:dashed solid dashed dashed;
    border-top-color:transparent !important;border-left-color:transparent !important;border-bottom-color:transparent !important;
    top:50%;margin-top:-6px;
    left:-12px;
}
.rightMiddle .yitip-trigon-border{
    left:-14px;margin-top:-7px;
}
/* =========不同颜色的模板========= */
/*-------黄色-------*/
.yitip.yellow{
    background-color:#ffe6ab;
    border:1px solid #efcf83;
    color:#c39263;
}
.yitip.yellow .yitip-trigon{ border-color:#ffe6ab;}
.yitip.yellow .yitip-trigon-border{ border-color:#efcf83;}
/*-------白色-------*/
.yitip.white{
    background-color:#fff;
    border:1px solid #ddd;
    color:#555;
}
.yitip.white .yitip-trigon{ border-color:#fff;}
.yitip.white .yitip-trigon-border{ border-color:#ddd;}

.yitip .btn_cont1 a b{font-size: 12px;padding:0 1em;} 
