#topbar{ height:40px; line-height:40px; background:#2e61bc; border-bottom:1px solid #2e61bc;
        text-align:center; font-size:18px; color:#fff;
}
.sheet-question-section{ font-size:18px;}
.scale-shell{ padding: 15px 0px; border-bottom: 1px dotted #ededed;}
.footer{ text-align:center; font-size:12px; color:#999; margin:20px 0px;}
.options {
}

.options label {
	float: left;
}

.options-c2 {
	width: 49%;
}

.options-c3 {
	width: 32%;
}

.options-c4 {
	width: 24%;
}

.options-c5 {
	width: 19%;
}

.option {
	border: 1px solid #2e61bc;
	height: 30px;
	line-height: 30px;
	color: #2e61bc;
	text-align: center;
	background: #fff;
	padding-left: 1px;
}

.option-left {
	border-right: none;
	border-radius: 3px 0px 0px 3px;
}

.option-right {
	border-radius: 0px 3px 3px 0px;
}

.option-center {
	border-right: none;
}

.option-active {
	color: #fff;
	background: #2e61bc;
}

.options-full {
	width: 100%;
	font-size: 14px;
	letter-spacing: 2px;
}

.option-text {
	width: 25%;
}

.option-text input {
	width: 85%;
	border: 1px solid #2e61bc;
	height: 25px;
	font-size: 14px;
}

.options-shrink {
	width: 75%;
	font-size: 12px;
	letter-spacing: 0px;
}

.writerBox {
	margin: 15px 0px 0px
}

.writer-item {
        border: 1px solid #ddd;
        background: #fff;
        padding: 5px 0px;
        border-radius: 3px;
        display: inline-block;
        width: 17.9%;
        text-align: center;
        font-size:14px;
}

.writer-itemActive {
	background: #2e61bc;
	border: 1px solid #2e61bc;
	color: #fff;
}

.writer-notice {
	color: #f00;
	margin-bottom: 5px;
	display: none;
}
.topNotice{
   padding:10px; border-bottom:1px solid #cdcdcd; background:#fff; 
}
.topNotice p{ font-size:12px; line-height:150%; color:#2e61bc;}
.sheetSubmitBtn{ 
	border: 1px solid #2e61bc;
        background: #2e61bc;
}
