*.log
log
sys/config.properties.php
sys/config.php
*.bak
*.txt
*.swp
*.swo
*.out
*.exvim
.exvim*
tags
.buildpath
.project
.settings
.DS_Store
xworklog
wwwroot/photo
wwwroot/img/static/node_modules

fangcunyisheng.com/sys/config.properties.php
fangcunyisheng.com/sys/config.php
fangcunyisheng.com/wwwroot/photo/xphoto
fangcunyisheng.com/wwwroot/voice/voices
fangcunyisheng.com/wwwroot/voice/videos
fangcunyisheng.com/wwwroot/voice/meeting
fangcunyisheng.com/wwwroot/img/apk
fangcunyisheng.com/wwwroot/img/ipa/*
fangcunyisheng.com/wwwroot/img/v2/node_modules

core/util/jaxl/jaxl
.metadata
*.zip
/nbproject/
/.idea/
.exvim.fcdev/*
/.exvim.fcdev/*
/123.json
.ftpconfig
ftpignore
.DS_Store
