# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )

########################
#备份脚本

#每天0点切割nginx日志

#每天0点1分压缩xworklog

#每天, 晚上, 数据库备份

#每天, 中午, 数据库备份

########################
#每分钟, 监控网站首页是否能正常访问
#* * * * * www /usr/bin/php /home/likunting/backend/chenshuxiu.top/cron/minute/test.php >> /home/nginxlog/cronlog/test.log &

########################
#每小时执行的脚本

########################
#每日执行的脚本

#每天, 10:00, 发送预约确认
0 10 * * * www /usr/bin/php /home/likunting/backend/chenshuxiu.top/cron/daily/send_order_confirm.php >> /home/nginxlog/cronlog/send_order_confirm.log &

########################
#每周任务

########################
#每月任务
